.cart {
	margin-top: 48px;
	margin-bottom: 48px;
	&__table {
		table {
			width: 100%;
			border-collapse: collapse;
			thead {
				border-bottom: 1px solid #dddddd;
				tr {
					th {
						font-family: var(--font-family);
						color: var(--color-black);
						font-size: var(--fs-6);
						font-weight: 700;
						padding-bottom: 24px;
					}
				}
			}
			tbody {
				tr {
					border-bottom: 1px solid #dddddd;
					td {
						padding-bottom: 28px;
						padding-top: 28px;
					}
				}
			}
		}
	}
	&__item {
		display: flex;
		align-items: center;
	}
	&__image {
		width: 90px;
		height: 90px;
		position: relative;
		img {
			object-fit: cover;
		}
	}

	&__close {
		height: 40px;
		width: 40px;
		cursor: pointer;
		position: relative;
		&::before,
		&::after {
			display: block;
			content: '';
			width: 24px;
			height: 2px;
			border-radius: 4px;
			background-color: var(--color-black);
			position: absolute;
			top: 50%;
			left: 0;
		}
		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(-45deg);
		}
	}
	&__content {
		overflow: hidden;
		margin-left: 24px;
	}
	&__name {
		font-family: var(--font-family);
		color: var(--color-accent);
		font-size: var(--fs-7);
		font-weight: 600;
		margin-bottom: 10px;
	}
	&__price {
		font-family: var(--font-family);
		color: var(--color-black);
		font-size: var(--fs-8);
		font-weight: 600;
	}
	&__quantity {
	}
	&__quantityInput {
		width: 100%;
		padding-left: 12px;
		padding-top: 12px;
		padding-bottom: 12px;
		outline-color: var(--color-accent);
		border: 1px solid var(--color-grey);
		border-radius: 4px;
		font-family: var(--font-family);
		color: var(--color-black);
		font-size: var(--fs-7);
		font-weight: 500;
	}
	&__productPrice {
		font-family: var(--font-family);
		color: var(--color-black);
		font-size: var(--fs-7);
		font-weight: 600;
		text-align: center;
		padding-left: 12px;
		padding-right: 12px;
	}
	&__title {
		font-family: var(--font-family);
		font-size: var(--fs-6);
		font-weight: 600;
		color: var(--color-black);
		padding-bottom: 24px;
	}
	&__coupone {
		margin-bottom: 24px;
		padding-left: 16px;
		padding-right: 16px;
	}
	&__couponeContent {
		display: flex;
	}
	&__couponeInput {
		padding-left: 12px;
		padding-top: 12px;
		padding-bottom: 12px;
		outline-color: var(--color-accent);
		border: 1px solid var(--color-grey);
		border-radius: 4px;
		font-family: var(--font-family);
		color: var(--color-black);
		font-size: var(--fs-7);
		font-weight: 500;
	}
	&__couponeBtn {
		display: flex;
		justify-content: center;
		align-items: center;
		background: var(--color-accent);
		border: 1px solid var(--color-accent);
		padding: 8px;
		font-family: var(--font-family);
		color: var(--color-white);
		font-size: var(--fs-6);
		font-weight: 500;
		border-radius: 4px;
		text-decoration: none;
		transition: var(--transition);
		&:hover {
			cursor: pointer;
		}
		&:hover,
		&:focus {
			background: var(--color-white);
			color: var(--color-accent);
		}
	}
	&__discount {
		font-family: var(--font-family);
		color: var(--color-black);
		font-size: var(--fs-7);
		font-weight: 600;
		margin-bottom: 12px;
	}
	&__total {
		background: #f3f2ee;
		padding: 28px 40px 40px;
		margin-bottom: 24px;
	}
	&__totalPrice {
		display: flex;
		margin-bottom: 20px;
		font-family: var(--font-family);
		color: var(--color-black);
		font-size: var(--fs-7);
		font-weight: 600;
	}
	&__totalSumma {
		font-family: var(--font-family);
		color: var(--color-black);
		font-size: var(--fs-7);
		font-weight: 500;
		text-decoration: line-through;
		margin-left: 4px;
	}
	&__totalDiscount {
		font-family: var(--font-family);
		color: var(--color-accent);
		font-size: var(--fs-7);
		font-weight: 600;
		margin-left: 8px;
	}
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		background: var(--color-accent);
		border: 1px solid var(--color-accent);
		padding: 8px;
		font-family: var(--font-family);
		color: var(--color-white);
		font-size: var(--fs-6);
		font-weight: 500;
		border-radius: 4px;
		text-decoration: none;
		transition: var(--transition);
		&:hover {
			cursor: pointer;
		}
		&:hover,
		&:focus {
			background: var(--color-white);
			color: var(--color-accent);
		}
	}
}
