$primary-color: #111111;
$heading-color: #111111;
$accent-color: #e53637;
$white: #ffffff;
$text-color: #333333;
.product {
	padding-bottom: 60px;
}
.productItem {
	overflow: hidden;
	margin-bottom: 40px;
}
.productImage {
	height: 250px;
	position: relative;
}
.image {
	object-fit: cover;
}
.text {
	margin-top: 16px;
	position: relative;
}
.label {
	position: absolute;
	top: 20px;
	left: 0;
	color: #111111;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	padding: 4px 15px 2px;
	background: #ffffff;
}
.name {
	color: #111111;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 5px;
	transition: all 0.3s;
	text-decoration: none;
	&:hover {
		color: $accent-color;
	}
}
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: $accent-color;
	border: none;
	padding: 8px;
	color: $white;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 4px;
	cursor: pointer;
	text-decoration: none;
	margin-top: 8px;
}
.price {
	color: #0d0d0d;
	font-weight: 700;
}
