.product {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
}

.sectionTitle {
	font-family: var(--font-family);
	font-size: var(--fs-2);
	color: var(--color-black);
	font-weight: 600;
	text-align: center;
	margin-bottom: 28px;
}
.card {
	margin-bottom: 28px;
	&__image {
		position: relative;
		margin-bottom: 16px;
		height: 330px;
		aspect-ratio: auto;
		overflow: hidden;
		img {
			object-fit: cover;
		}
		&:hover {
			.card__actions {
				transform: translateY(0px);
			}
		}
	}
	&__badge {
		background: var(--color-accent);
		color: var(--color-white);
		position: absolute;
		top: 0;
		left: 0;
		font-family: var(--font-family);
		font-size: var(--fs-9);
		font-weight: 500;
		padding: 4px 10px;
	}
	&__actions {
		height: 48px;
		position: absolute;
		bottom: 16px;
		width: 100%;
		display: flex;
		justify-content: center;
		transition: var(--transition);
		transform: translateY(64px);
	}
	&__actionBtn {
		border: 1px solid var(--color-accent);
		width: 90%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: var(--color-accent);
		color: var(--color-white);
		transition: var(--transition);
		font-family: var(--font-family);
		font-size: var(--fs-7);
		font-weight: 500;
		&:hover {
			cursor: pointer;
		}
		&:hover,
		&:focus {
			background: var(--color-white);
			color: var(--color-accent);
		}
	}

	&__title {
		font-family: var(--font-family);
		font-size: var(--fs-7);
		font-weight: 600;
		color: var(--color-black);
		display: block;
		margin-bottom: 8px;
	}
	&__price {
		font-family: var(--font-family);
		color: var(--color-black);
		font-size: var(--fs-8);
		font-weight: 500;
		span:not(:first-child) {
			color: var(--color-grey);
			margin-left: 4px;
			text-decoration: line-through;
		}
	}
}
