$heading-color: #111111;
$accent-color: #e53637;
$white: #ffffff;
$text-color: #333333;

.categories {
	margin-bottom: 36px;
}
.item {
	position: relative;
}
.itemImage {
	height: 250px;
}
.itemText {
	position: absolute;
	top: 50%;
	left: 5%;
}
.itemTitle {
	color: $heading-color;
	font-weight: 700;
	line-height: 46px;
	margin-bottom: 10px;
}
.itemLink {
	text-decoration: none;
	display: inline-block;
	color: $heading-color;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 4px;
	text-transform: uppercase;
	padding: 3px 0;
	position: relative;
	transition: all 0.3s;
	&:hover {
		color: $accent-color;
		&::after {
			background: $accent-color;
		}
	}
	&::after {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 2px;
		background: $heading-color;
		content: '';
		transition: all 0.3s;
	}
}
