.categories {
	padding-top: 48px;
	padding-bottom: 48px;
	&__card {
		position: relative;
		&:hover {
			img {
				transform: scale(1.05);
			}
		}
	}
	&__image {
		height: 250px;
		img {
			transition: var(--transition);
			object-fit: cover;
		}
	}
	&__content {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 16px;
		display: flex;
		justify-content: center;
	}
	&__link {
		border-radius: 8px;
		padding: 16px 36px;
		background-color: var(--color-white);
		font-family: var(--font-family);
		font-size: var(--fs-8);
		font-weight: 600;
		color: var(--color-black);
		letter-spacing: 1px;
		transition: var(--transition);
		&:hover,
		&:focus {
			background-color: var(--color-black);
			color: var(--color-white);
		}
	}
}
