.newsletter {
	padding-top: 48px;
	padding-bottom: 48px;
	&__card {
		background-image: url('/images/newsletter-bg.png');
		background-color: var(--color-white-bg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: left;
		padding: 80px 15px;
		text-align: center;
	}
	&__title {
		font-family: var(--font-family);
		color: var(--color-black);
		font-size: var(--fs-3);
		font-weight: 600;
		line-height: 1.2;
		margin-bottom: 30px;
	}
	&__text {
		font-family: var(--font-family);
		color: var(--color-black);
		font-size: var(--fs-7);
		font-weight: 500;
		margin-bottom: 28px;
	}
	&__inputWrapper {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__input {
		background: var(--color-white);
		height: 60px;
		padding-inline: 50px 20px;
		border-radius: 6px;
		font-family: var(--font-family);
		color: var(--color-black);
		font-size: var(--fs-7);
		font-weight: 500;
	}
	&__btn {
		background: var(--background, var(--color-black));
		font-family: var(--font-family);
		color: var(--color, var(--color-white));
		font-size: var(--fs-7);
		font-weight: 600;
		height: var(--height, 60px);
		padding-left: 32px;
		padding-right: 32px;
		border: 1px solid var(--border-color, var(--color-black));
		border-radius: 6px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: var(--transition);
		&:hover,
		&:focus {
			--background: var(--white);
			--color: var(--eerie-black);
			--border-color: var(--eerie-black);
		}
		&:hover {
			cursor: pointer;
		}
	}
}
