.blog {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
}
.sectionTitle {
	font-family: var(--font-family);
	font-size: var(--fs-2);
	color: var(--color-black);
	font-weight: 600;
	text-align: center;
	margin-bottom: 40px;
}
.card {
	&__image {
		aspect-ratio: 2 / 1.37;
		margin-bottom: 24px;
		position: relative;
		img {
			object-fit: cover;
			transition: var(--transition);
		}
	}
	&__meta {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 8px;
		color: inherit;
		font-size: var(--fs-9);
		font-weight: 500;
		text-transform: uppercase;
		&:is(:hover, :focus) {
			color: var(--color-black);
		}
	}
	&__title {
		text-decoration: none;
		font-family: var(--font-family);
		color: var(--color-black);
		font-weight: 600;
		font-size: var(--fs-6);
		line-height: 1.5;
		text-align: center;
		transition: var(--transition);
		&:hover {
			color: var(--color-accent);
		}
	}
	&__category {
		font-family: var(--font-family);
		font-size: var(--fs-9);
		font-weight: 500;
		line-height: 1.5;
		text-transform: uppercase;
		margin-right: 24px;
		color: var(--color-grey);
		transition: var(--transition);
		&:hover {
			color: var(--color-black);
		}
	}
	&__time {
		font-family: var(--font-family);
		font-size: var(--fs-9);
		font-weight: 500;
		line-height: 1.5;
		text-transform: uppercase;
	}
	&:hover {
		img {
			transform: scale(1.05);
		}
	}
}
