$heading-color: #111111;
$accent-color: #e53637;
$white: #ffffff;
$text-color: #333333;

.checkoutTitle {
	color: var(--color-black);
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 25px;
	margin-bottom: 30px;
}

.checkoutInput {
	margin-bottom: 6px;
	p {
		color: var(--color-black);
		margin-bottom: 12px;
		span {
			color: var(--color-accent);
		}
	}
	input {
		height: 50px;
		width: 100%;
		border: 1px solid #e1e1e1;
		font-size: 14px;
		color: $text-color;
		padding-left: 20px;
		margin-bottom: 20px;
		&::placeholder {
			color: #b7b7b7;
		}
	}
}

.checkoutOrder {
	background: #f3f2ee;
	padding: 28px;
	p {
		color: $text-color;
		font-size: 16px;
		line-height: 28px;
	}
}
.orderTitle {
	margin: 0;
	color: var(--color-black);
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 25px;
	margin-bottom: 30px;
}
.checkoutOrderProducts {
	font-size: 16px;
	color: var(--color-black);
	overflow: hidden;
	margin-bottom: 18px;
	font-weight: 600;
	span {
		float: right;
	}
}

.checkoutTotalProducts {
	margin-bottom: 20px;
	padding: 0;
	list-style-type: none;
	li {
		font-size: 16px;
		color: $text-color;
		list-style: none;
		line-height: 24px;
		overflow: hidden;
		margin-bottom: 12px;
		&:last-child {
			margin-bottom: 0;
		}
		span {
			color: var(--color-black);
			font-weight: 400;
			float: right;
		}
	}
}
.checkoutShipping {
	border-top: 1px solid #d7d7d7;
	padding: 16px 0;
	font-weight: 700;
	color: var(--color-black);
}
.shippingPrice {
	color: var(--color-black);
	font-weight: 700;
	float: right;
}
.checkoutTotalAll {
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	padding: 16px 0;
	margin-bottom: 24px;
	font-weight: 700;
	color: var(--color-black);
}
.total {
	color: var(--color-accent);
	font-weight: 700;
	float: right;
}
.placeBtn {
	width: 100%;
	background: var(--color-accent);
	border: none;
	padding: 8px;
	color: $white;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 4px;
	cursor: pointer;
}
.dot {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: var(--color-white);
	margin: 1px;
}
