.header {
	height: 72px;
	padding: 24px 0;
	background: var(--color-white);
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	box-shadow: 0 0 12px rgb(0 0 0 / 20%);
}
.logo {
	display: flex;
	align-items: center;
	margin: auto 0;
	a {
		display: inline-block;
	}
}
.menu {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	ul {
		padding: 0;
		margin: 0;
	}
	&__item {
		list-style: none;
		display: inline-block;
		margin-right: 36px;
		position: relative;
		&:last-child {
			margin-right: 0;
		}
		a {
			font-family: var(--font-family);
			font-size: 18px;
			color: var(--color-black);
			display: block;
			font-weight: 600;
			position: relative;
			padding: 4px 0;
			text-decoration: none;
			&:hover::after {
				transform: scale(1);
			}
			&::after {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 2px;
				background: var(--color-accent);
				content: '';
				transition: all 0.5s;
				transform: scale(0);
			}
		}
	}
	&__itemActiv a::after {
		transform: scale(1);
	}
}

.cart {
	display: flex;
	align-items: center;
	&__link {
		position: relative;
		text-decoration: none;
		color: var(--color-black);
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	&__image {
		width: 16px;
		height: 18px;
		position: relative;
		img {
			object-fit: cover;
		}
	}
	&__count {
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 12px;
		line-height: 16px;
		color: var(--color-white);
		position: absolute;
		left: -16px;
		top: -8px;
		background: var(--color-accent);
		width: 20px;
		height: 20px;
		display: flex;
		border-radius: 50%;
		justify-content: center;
		align-items: center;
	}
	&__price {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 16px;
		color: var(--color-black);
		display: inline-block;
		margin-left: 16px;
		position: relative;
		top: 3px;
	}
}

.user {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 16px;
	color: var(--color-black);
	margin-right: 24px;
}
