.footer {
	&__top {
		background: var(--color-white-bg);
		padding-top: var(--section-padding);
		padding-bottom: var(--section-padding);
	}
	&__logo {
		margin-bottom: 20px;
	}
	&__text {
		font-family: var(--font-family);
		font-size: 1rem;
		font-weight: 400;
		color: var(--color-grey);
		line-height: 1.5;
		margin-bottom: 20px;
	}
	&__list {
		list-style: none;
	}
	&__listTitle {
		font-family: var(--font-family);
		font-size: var(--fs-5);
		font-weight: 600;
		color: var(--color-black);
		line-height: 1.5;
		margin-bottom: 16px;
	}

	&__link {
		position: relative;
		font-family: var(--font-family);
		font-size: 1rem;
		font-weight: 500;
		line-height: 1.5;
		color: var(--color-grey);
		padding-top: 4px;
		padding-bottom: 4px;
		transition: var(--transition);
		display: block;
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: -16px;
			transform: translateY(-50%) scale(var(--scale, 0));
			transform-origin: right;
			background: var(--color-grey);
			width: 10px;
			height: 2px;
			transition: var(--transition);
		}
		&:hover,
		&:focus {
			color: var(--color-black);
			transform: translateX(16px);
			&::before {
				--scale: 1;
			}
		}
	}

	&__copyright {
		display: inline-block;
		font-family: var(--font-family);
		font-size: 16px;
		line-height: 1.5;
		color: var(--color-black);
		font-weight: 500;
	}
	&__bottom {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
